{% extends 'base.html.twig' %}

{% block title %}Prestation index{% endblock %}

{% block body %}
{{ include('components/_side.html.twig') }}
    <div class="right">
        <div class="pt-5">
            <h1 class="text-center">Calendrier des prestations</h1>
            <div id="calendrier"></div>
        </div>
    </div>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                themeSystem: 'bootstrap5',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: {{ data|raw }},

            })
            calendar.setOption('height', 1000);

            calendar.render()
        }
    </script>
{% endblock %}
