<form method="post" action="{{ path('prestation_delete', {'id': prestation.id}) }}" onsubmit="return confirm('Tu es sur de vouloir supprimer la prestation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestation.id) }}">
    <button class="btn btn-danger float-end float-end mt-5 mb-2 me-3">Supprimer</button>
</form>
