{% extends 'base.html.twig' %}

{% block title %}Edit Etablisement{% endblock %}

{% block body %}
    <h1>Edit Etablisement</h1>

    {{ include('etablissement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('etablisement_index') }}">back to list</a>

    {{ include('etablissement/_delete_form.html.twig') }}
{% endblock %}
